<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tudi.cn"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:description="@string/theme_compatible"
        android:icon="@drawable/siyecao"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".logo" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
        <activity 
            android:name=".main"
        ></activity>
       
        <activity
            android:name=".bookmarkandhistory"
            ></activity>
        
            
    </application>

</manifest>